@model Domain.ClienteAnexos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClienteAnexos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.arquivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.arquivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tamanho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tamanho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cliente.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataInclusion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInclusion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
